*{
	margin:0;
	padding:0;
}
.common_btn{
	background: #101923;
	border-radius: 4px;
	color:white;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}	
.disabledInput {
	border: none;
	outline: none;
	font-weight: bold;
	color:#333;
	background: #eee;
	text-align: center;
}